
		<!-- サイドバー -->
		<div class="col-xs-3">
		<!-- プロフィール -->
			<%= render 'users/userprofile', user: @user %>
		<!-- /プロフィール -->

		<!-- 投稿フォーム -->
			<%= render 'books/editbook', book: @book %>
		<!-- /投稿フォーム -->
		</div>
		<!-- /サイドバー -->

		<!-- Books -->
		<div class="col-xs-9">
			<%= render 'books/books_list', books: @books %>
		</div>
		<!-- /Books -->
