<% if flash[:success] %>
  <div class="flash">
  <p>
  	<%= flash[:success] %>
  </p>
  </div>
<% end %>
		<!-- サイドバー -->
		<div class="col-xs-3">
		<!-- プロフィール -->
			<%= render 'users/userprofile', book: @book, user: @user %>
		<!-- /プロフィール -->

		<!-- 投稿フォーム -->
			<%= render 'books/editbook', book: @newbook %>
		<!-- /投稿フォーム -->
		</div>
		<!-- /サイドバー -->

		<div class="col-xs-9">
		<!-- Books detail -->
			<%= render 'books/books_detail', book: @book, user:@user %>
		<!-- /Books -->
		</div>

